body {
  --left: 40%,
  --top: 60%;
  --rotation: -35deg;
  position: relative;
  margin: 0;
  padding: 0;
  
}

.app{
  padding: 2rem;
  background-color: rgb(132, 223, 41);
   display: flex;
   justify-content: center;
   /* align-items: center; */
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: .25rem;
  place-items: center;
  user-select: none;
  width: 600px;
  background-color: rgb(128, 207, 49);
  padding: .5rem;
  box-shadow: 0px 1px  20px rgb(156, 135, 135);
  border-radius: .5rem;
  border: none;
  transition: transform 200ms ease-in-out, border 200ms ease-out;
}
.grid img {
  border: 1px solid gray;
  border-radius: 50%;
  cursor: pointer;
  height: 180px;
}
.score {
  position: absolute;
  font-size: 6rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
  top: calc(var(--top) - 15px);
  left: calc(var(--left) - 15px);
  transform: rotate(var(--rotation));
}
.grid.shake{
  transform: rotate(30deg);
  border: 1px solid red;
}

body::before {
  position: absolute;
  content: "";
  top: var(--top);
  left: var(--left);
  width: 30px;
  height: 30px;
  background-color: pink;
  border-radius: 50%;
  scale: 0;
  opacity: 0;
  transition: scale 200ms ease-in-out, opacity 100ms ease-in-out;
}
body.hit::before {
  scale: 1;
  opacity: 1;
}
.high-score{
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 50px;
  left: 30px;
}

body.hit::before {
  position: absolute;
  content: "";
  top: var(--top);
  left: var(--left);
  width: 35px;
  height: 35px;
  /* background-color: pink; */
  border: 3px dashed orangered;
  border-radius: 50%;
}
